:root {
  --primary: rgb(2, 14, 33);
  --primary-opt: rgb(200, 255, 255, 0.7);
  --secondary: rgb(216, 236, 223);
  --secondary-opt: rgb(140, 210, 240, 0,7);
  --nextcolor: rgb(250, 250, 250);
  --nextcolor-opt: rgb(240, 20, 20, 0.7);
}

/* <!----------- Reset Style ----------------> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <!----------- General Styles ----------------> */
body {
  width: 100vw;
  color: var(--nextcolor);
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(
    to left top,
    var(--secondary),
    var(--primary)
  );
}

main {
  padding: 64px;
}

/* <!----------- Navi Styles ----------------> */
nav {
  min-height: 10vh;
  margin: auto;
  background: var(--primary);
  color:white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position:relative;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#logo {
  text-align: center;
  font-size: 3rem;
  width: 100vw;
  justify-self: center;
  padding: 10px;
  }

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition:ease-out 2s;
}

.nav-links--close{
  position: absolute;
  transform: translateY(-120vh);
}


.nav-links li {
  font-size: 32px;
  padding: 15px;
  letter-spacing: 4px;
  cursor: pointer;
}
.burger-menu {
  display: block;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition-delay: 2s;
}


.burger-menu img {
  height: 20px;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.burger-menu:hover {
  background-color: var(--secondary);
}



.big-text {
  padding-top: 10vh;
  text-align: center;
  margin: auto;
  font-size: 2rem;

}

main{
  position: relative;
}

/* <!----------- Slider Styles ----------------> */

.gallery--name {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0.2),
    rgb(255, 255, 255, 0.7)
  );
  padding: 10vh 10vw;
  position: relative;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  transition:ease-in-out 0.6s;
  margin-top:50px;
}

.gallery__collapse--btn, .gallery__expand--btn {
position: absolute;
top: -20px;
left: 50;
padding: 5px;
background-color: var(--primary);
border: none;
border-radius: 60px;
letter-spacing: 2px;
font-weight: 700;
font-style: italic;
color: var(--nextcolor);
cursor: pointer;
font-size: 16px;
box-shadow: 3px 3px 3px 1px rgb(0, 0, 0, 0.5);
border: 3px solid var(--nextcolor);
margin-bottom: 20px;
}

.gallery--expand{
  background-color:rgb(255, 255, 255, 0.9);
  position: static;

}

.gallery__collapse--btn:hover, .gallery--expand-.gallery__expand--btn {
  transform: scale(1.1);
  letter-spacing: 2px;
  transition-duration: 0.5s;
  box-shadow: 6px 6px 6px 2px rgb(0, 0, 0, 0.5);
}

.gallery--hidden {
  display: none;
}

.gallery--collapsed {
  padding: 0px;
  }


.thumbnail {
  width: 250px;
  height: 200px;
  list-style: none;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 2px rgb(0, 0, 0, 0.8);
}
.thumbnail:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  box-shadow: 12px 12px 12px 3px rgb(0, 0, 0, 0.5);
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail img:focus,
.thumbnail img:focus-visible {
  border: solid 5px white;
  padding: 3px;
  outline: none;
}

.popup {
  position: fixed;
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s;
}

.fadeOut {
  animation: fadeOut 0.5s both;
}

.popup__img {
  max-height: 80%;
  max-width: 80%;
  overflow: hidden;
}

.popup.hidden {
  display: none;
}
.popup__close,
.popup__arrow {
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
  background-color: rgb(255, 255, 255, 0.2);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.popup__close:hover,
.popup__arrow:hover {
  background-color: white;
  transform: scale(1.2);
  box-shadow: 3px 3px 3px 2px black;
}

.popup__close {
  position: fixed;
  top: 5vh;
  right: 5vw;
}

.popup__arrow {
  position: absolute;
  top: 50%;
}

.popup__arrow--left {
  left: 5%;
}
.popup__arrow--right {
  right: 5%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* <!----------- Backgroung Images ----------------> */
.dice_img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  animation: rollingDice 10s infinite ease-in;
}

@keyframes rollingDice {
  from {
    top: -15vh;
  }
  to {
    top: 95%;
  }
  from {
    left: 0;
  }
  to {
    left: 115vw;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chess_pawn {
  width: 60px;
  height: 160px;
  top: 0;
  right: 10%;
  position: absolute;
  animation: chess_pawn 10s infinite ease-out;
}

@keyframes chess_pawn {
  from {
    top: -15vh;
  }
  to {
    top: 95%;
  }
  from {
    right: 20vw;
  }
  to {
    right: 150vw;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 120px;
  height: 180px;
  top: -20vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: absolute;
  animation: card_rotate 10s linear infinite, card_falling 10s linear infinite;
  animation-delay: 5s;
}

@keyframes card_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes card_falling {
  from {
    top: -15vh;
  }
  to {
    top: 95%;
  }
  from {
    left: 80vw;
  }
  to {
    left: -15vw;
  }
}

/* <!----------- Articles Styles ----------------> */

.article-box {
  margin-top: 50px;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

article {
  background:  linear-gradient(
    270deg,
    rgb(255, 255, 255, 0.2),
    rgb(255, 255, 255, 0.7)
  );
  padding: 5vh 5vw;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.5);
  width: 600px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition-duration: 1s;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100%;
  max-height: 75%;
  padding: 15px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0.9;
}

article p {
  text-align: justify;
  padding: 10px;
  font-size: 1, 5rem;
}
article:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 6px 3px rgb(0, 0, 0, 0.5);
}

article:hover > img {
  padding: 5px;
  transition-duration: 1s;
  background-color: var(--nextcolor);
  opacity: 1;
}

article:hover > p {
  background-color: rgba(255, 255, 255, 0.747);
  color: black;
  border-radius: 10px;
  transition-duration: 1s;
}

/* <!----------- Intro Styles ----------------> */

.intro {
  background: url(./images/Monopoly.jpg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider {
  background: url(./images/Descent.jpg);
background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: white;
  font-size: 2rem;
}

.hide {
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
