* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    color: white;
    min-height: 100vh;
    background: url(./images/Cyber.jpg);
    background-size: cover;
    padding: 0rem 5rem;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;

}

.nav-links{
    display: flex;
    list-style: none ;
}

.nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;

}

.big-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
}

.article-box {
    position: absolute;
    top: 40%;
    display: flex;
}

article {
    max-height: 40%;
    max-width: 40%;
    padding: 10rem;
    display: flex;
    
}

article img{
    max-height: 80%;
    max-width: 80%;

}

article p {
    padding: 10rem;
    text-align: center;

}

.intro{
    background: url(./images/Susza.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;
}

.slider{
    background: url(./images/Szachy.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text{
    color: white;
    font-size: 3rem;
}

.hide{
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;

}