:root{
    --primary: rgb(30, 100, 240);
    --secondary: lightblue;
    --nextcolor: rgb(240, 20, 20);
}


/* <!----------- Reset Style ----------------> */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* <!----------- General Styles ----------------> */
body {
    width: 100vw;
    color: white;
    background: linear-gradient(var(--secondary),var(--primary));
    background-size: cover;
}

/* <!----------- Navi Styles ----------------> */
nav {
    min-height: 10vh;
    margin: auto;
    background: linear-gradient(90deg,var(--primary), var(--nextcolor)) ;
    display: flex;
    justify-content: flex-end;
}

#logo {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    width: 100vw;
    justify-self: center;
}

.nav-links{
    display: none;
    list-style: none ;
}

.nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;

}
.burger-menu{
    display: block;
    margin:auto;
}

.burger-menu img{
    height: 10vh;

}

.big-text {
    padding-top: 10vh;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

/* <!----------- Articles Styles ----------------> */
.article-box {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

article {

    background-color: var(--primary);
    padding: 5vh 5vw;
    margin: 10px;;
    border-radius: 20px;
    width: 60vw;
    
}

article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.9;
 }

 article p{
    text-align: justify;
    padding: 10px;
 }

article:hover{
    background-color: blue;
} 
article:hover > img{
    padding: 5px;;
    transition-duration: 1s;
    background-color: yellow;
    opacity: 1;
 }

 article:hover > p {
    background-color: rgba(255, 255, 255, 0.747);
    color: black;
    border-radius: 10px;
    transition-duration: 1s;
 }

/* <!----------- Intro Styles ----------------> */

.intro{
    background: url(./images/Susza.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;
display: none;
}

.slider{
    background: url(./images/Szachy.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text{
    color: white;
    font-size: 3rem;
}

.hide{
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;

}